body {
    font-family: "Quicksand", sans-serif;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 29px 19px 27px;
}

.navigation {
    width: 555px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

    a {
        text-decoration: none;
        font-size: 45px;
    }

    input {
        width: 357px;
        height: 58px;
        background-color: #ECF3F5;
        border: none;
        padding-left: 25px;
        border-radius: 10px;
        font-size: 15px;
        color: #89928E;
        font-weight: 400;
    }

}


.datesAndAddTable {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 419px;

}

.datesAndAddTable button {
    background-color: #B1CED4;
    height: 58px;
    width: 175px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 30px 19px 30px;
    font-size: 16px;
    font-weight: 500;
}

hr {
    border-color: #ECEDED;
    margin-bottom: 42px;
}

.menuFull {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .menuRow {
        display: flex;
        margin-bottom: 25px;
    }

}


    



.menuItemCard {

        display: flex;
        flex-direction: column;
        width: 203px;
        height: 214px;
        background-color: #D8E6E9;
        border-radius: 15px;
        margin-right: 29px;
        


        .menuItemimage {
                height: 143px;
                width: 203px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                overflow: hidden;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                
        }


        .menuItemText {
            padding: 8px 14px 10px 11px;


            .menuItemHeader {
                display: flex;
                justify-content: center;
                margin-bottom: 9px;
                font-size: 17px;
            }
    
    
            .menuItemCategory {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .icons {
                    display: flex;
                }

                p {
                    margin-right: 50px;
                    font-size: 12px;
                }

                .menuItemCategory img {
                    margin-left: 20px;
                }


                .categoryIcon {
                    height: 23px;
                    width: 23px;
                    border-radius: 50%;
                    background-color: #E0B284;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
                
                .categoryIconSecondRow {
                    height: 23px;
                    width: 23px;
                    border-radius: 50%;
                    background-color: #E0B284;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;   
                }

                .categoryIconSalad {
                    height: 23px;
                    width: 23px;
                    border-radius: 50%;
                    background-color: #A2774C;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;  
                }

                .categoryIconPercentage {
                    height: 23px;
                    width: 23px;
                    border-radius: 50%;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: black; 
                }

                .categoryIconPercentage span {
                    margin-top: 3px;
                    font-size: 9px;
                }

            }

        }

}


.footer {
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.menuTypes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 106px;
    width: 985px;
    background-color: #EAF0F0;
    position:fixed;
    bottom: 0;
    
    
}

.menuTypes button:nth-child(1) {
    height: 58px;
    width: 158px;
    background-color: #4A5C2F;
    color: #ECF3F5;
    border: none;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.menuTypes button {
    height: 58px;
    width: 158px;
    background-color: #D9D9D9;
    color: #A9A9A9;
    border: none;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    
    
}    